In [86]:
from datetime import timedelta, datetime
import talib
import pandas as pd
from sqlalchemy import create_engine

In [87]:
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://pyalgotrade_user:pyalgotrade_pass@riju.onthewifi.com:3306/quant'

In [88]:
db_engine = create_engine(
    SQLALCHEMY_DATABASE_URI, 
    pool_size=10, 
    max_overflow=20,
    )

In [89]:
request_dict = {
    'symbol': 'HDFCBANK',
    'dates': {
        'start': '2018-01-01',
        'end': '2019-01-01'
    }
}

In [90]:
df = pd.read_sql('''
    SELECT *
    FROM stock_daily_data
    WHERE symbol = '{}'
    AND   TIMESTAMP BETWEEN '{}' AND '{}'
    ORDER BY TIMESTAMP
    LIMIT 1000;
    '''.format(
            request_dict['symbol'],
            datetime.strptime(request_dict['dates']['start'], '%Y-%m-%d') - timedelta(days=500),
            request_dict['dates']['end'],
        ), db_engine, index_col=['timestamp']);

In [91]:
# Generate CSV
df.to_csv('CSV/{}_{}_{}.csv'.format(
    request_dict['symbol'],
    request_dict['dates']['start'],
    request_dict['dates']['end'],
))
# Preview
df

,Open,High,Low,Close,Volume,symbol,updated_at
timestamp,,,,,,,
2016-08-19,625.0000,625.000,620.725,623.5500,2055318,HDFCBANK,2020-04-17 03:06:45
2016-08-22,622.5250,627.225,620.500,625.1500,2750646,HDFCBANK,2020-04-17 03:06:45
2016-08-23,625.5000,627.000,623.025,625.7250,2657262,HDFCBANK,2020-04-17 03:06:45
2016-08-24,626.0250,632.100,623.525,630.9000,2785468,HDFCBANK,2020-04-17 03:06:45
2016-08-25,632.0000,633.400,627.150,629.2750,4364944,HDFCBANK,2020-04-17 03:06:45
...,...,...,...,...,...,...,...
2018-12-26,1038.5000,1063.500,1034.500,1061.1801,3800958,HDFCBANK,2020-04-17 03:06:35
2018-12-27,1066.5000,1069.100,1049.220,1052.5300,5819934,HDFCBANK,2020-04-17 03:06:35
2018-12-28,1058.6801,1068.880,1057.750,1061.4500,4707806,HDFCBANK,2020-04-17 03:06:35
2018-12-31,1068.5000,1068.500,1058.350,1060.8500,2933264,HDFCBANK,2020-04-17 03:06:35
2019-01-01,1063.8199,1075.500,1052.800,1074.0500,3186720,HDFCBANK,2020-04-17 03:06:35

In [92]:
# calculating indicators now
df['EMA50'] = talib.EMA(df.Close, timeperiod=50)
df['EMA200'] = talib.EMA(df.Close, timeperiod=200)
df['rsa14'] = talib.RSI(df.Close, timeperiod=14)
df['sar'] = talib.SAR(
    df.High,
    df.Low,
    acceleration=0.02, 
    maximum=0.2,
    )
df['macd'], df['macdsignal'], df['macdhist'] = talib.MACDEXT(
        df.Close, 
        fastperiod=12, 
        fastmatype=0, 
        slowperiod=26, 
        slowmatype=0, 
        signalperiod=9, 
        signalmatype=0,
        )
df['slowk'], df['slowkd'] = talib.STOCH(
        df.High, df.Low, df.Close,
        fastk_period=14, 
        slowk_period=3, 
        slowk_matype=0, 
        slowd_period=3, 
        slowd_matype=0,
        )
df['upperband'], df['middleband'], df['lowerband'] = talib.BBANDS(
        df.Close, 
        timeperiod=5, 
        nbdevup=2, 
        nbdevdn=2, 
        matype=0,
        )

In [93]:
# Generate CSV
df.to_csv('CSV/{}_{}_{}_indicators.csv'.format(
    request_dict['symbol'],
    request_dict['dates']['start'],
    request_dict['dates']['end'],
))

# Preview
df

,Open,High,Low,Close,Volume,symbol,updated_at,EMA50,EMA200,rsa14,sar,macd,macdsignal,macdhist,slowk,slowkd,upperband,middleband,lowerband
timestamp,,,,,,,,,,,,,,,,,,,
2016-08-19,625.0000,625.000,620.725,623.5500,2055318,HDFCBANK,2020-04-17 03:06:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-22,622.5250,627.225,620.500,625.1500,2750646,HDFCBANK,2020-04-17 03:06:45,NaN,NaN,NaN,627.22500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-23,625.5000,627.000,623.025,625.7250,2657262,HDFCBANK,2020-04-17 03:06:45,NaN,NaN,NaN,627.22500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-24,626.0250,632.100,623.525,630.9000,2785468,HDFCBANK,2020-04-17 03:06:45,NaN,NaN,NaN,620.50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-25,632.0000,633.400,627.150,629.2750,4364944,HDFCBANK,2020-04-17 03:06:45,NaN,NaN,NaN,620.73200,NaN,NaN,NaN,NaN,NaN,632.382911,626.92000,621.457089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-26,1038.5000,1063.500,1034.500,1061.1801,3800958,HDFCBANK,2020-04-17 03:06:35,1027.956701,999.731937,57.965459,1032.39111,8.986534,18.938082,-9.951548,57.074778,63.437921,1076.604253,1057.50198,1038.399707
2018-12-27,1066.5000,1069.100,1049.220,1052.5300,5819934,HDFCBANK,2020-04-17 03:06:35,1028.920360,1000.257290,54.385594,1034.50000,7.912624,16.433053,-8.520429,55.484040,57.859707,1074.556491,1055.66398,1036.771469
2018-12-28,1058.6801,1068.880,1057.750,1061.4500,4707806,HDFCBANK,2020-04-17 03:06:35,1030.196032,1000.866173,57.313243,1034.50000,8.427560,14.274028,-5.846469,66.541130,59.699983,1069.665891,1054.20998,1038.754069
2018-12-31,1068.5000,1068.500,1058.350,1060.8500,2933264,HDFCBANK,2020-04-17 03:06:35,1031.398148,1001.463027,57.048009,1037.21200,7.964611,12.435602,-4.470991,66.368394,62.797855,1071.643328,1055.26600,1038.888672
2019-01-01,1063.8199,1075.500,1052.800,1074.0500,3186720,HDFCBANK,2020-04-17 03:06:35,1033.070770,1002.185285,61.292063,1039.76128,7.172303,10.882802,-3.710499,76.792861,69.900795,1075.786777,1062.01202,1048.237263